Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/ArtContent
Content/M5VFXVOL2
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.psd
*.png
*.fbx
*.wav